/Kalantax/build/
/Kalantax/dist/
Kalantax/nbproject/build-impl.xml
Kalantax/nbproject/project.xml
Kalantax/nbproject/project.properties
Kalantax/nbproject/private/private.properties
Kalantax/nbproject/genfiles.properties
Kalantax/nbproject/build-impl.xml
Kalantax/nbproject/project.xml
Kalantax/nbproject/project.properties
Kalantax/nbproject/private/private.properties
Kalantax/nbproject/genfiles.properties
Kalantax/nbproject/build-impl.xml
Kalantax/nbproject/build-impl.xml
Kalantax/nbproject/genfiles.properties
Kalantax/nbproject/private/private.properties
Kalantax/nbproject/project.properties
Kalantax/nbproject/project.xml
Kalantax/nbproject/build-impl.xml
Kalantax/nbproject/build-impl.xml
*.xml
*.properties
